.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


h3 {
  color: violet;
  background: green;
  font-size: 2em;
}

p {
  font-size: 1.5em;
}


.formulario input, select, textarea {
  display: block;
  padding: 5px;
  margin: 10px;
  min-width: 150px;
  max-width: 150px;
}

.formulario input[type="submit"] {
  background-color: green;
  border: 2px solid greenyellow;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.formulario input[type="submit"]:hover {
  background-color: greenyellow;
  border: 2px solid green;
}
